
# Logs
logs
*.log
npm-debug.log*

# Built files
/**/*.js
/**/*.js.map

# Databse
database.sqlite

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store